*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.carousel-item{
height: 32rem;
position: relative;
background-position: center;
background-size: cover;
}

.gradient {
  background-image: linear-gradient(to right, rgb(1, 2, 19),rgb(29, 0, 24), rgb(1, 2, 19));
}